IP=192.168.0.42
PROTO=http
PORT=10000
USER=admin
PASS=1234
ON_XML=./on.xml
OFF_XML=./off.xml
STATUS_XML=./status.xml
POWER_XML=./power.xml
CURRENT_XML=./current.xml
HEADER='Content-Type:text/xml'

URL=$PROTO'://'$USER':'$PASS'@'$IP':'$PORT'/smartplug.cgi'
